<div class= 'span12'>
  <h1>Edit Posts</h1>
  <%= form_for @post do |f| %>
    <%= render :partial => "posts/form" %>
    <%= f.submit "Update Post", :class => 'btn btn-primary' %>
  <% end %>
</div>
