<div class= 'span12'>
  <h1>Create new Posts</h1>
  <%= form_for @post do |f|%>
    <%= render :partial => "posts/form" %>
    <%= f.submit "Create New Post", :class => 'btn btn-primary' %>
  <% end %>
</div>
